.diagram-component {
	width: 100%;
	height: 100%;
	display: block;
	border: none !important;
}

.diagram-component > canvas:focus {
	outline: -webkit-focus-ring-color auto 0px;
}

/* 流程图样式 放开滚动条 */
.diagram-component > div {
	/* overflow: hidden !important; */
}
